@font-face {
    font-family: "Space-Mono";
    src: url("../public/SpaceMono-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Space-Mono";
    src: url("../public/SpaceMono-Bold.ttf");
    font-style: bold;
    font-weight: 700;
}

:root {
    --project-bg-color: #d8e0f9;
}

html,
body {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
    font-family: "Space-Mono", -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    position: fixed;
    left: 0;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    z-index: 11;
    text-align: center;
    display: flex;
    padding: 1rem 2rem;
}

header a {
    margin: 0rem;
    font-size: 3rem;
    font-weight: bold;
}

nav {
    z-index: 5;
    position: fixed;
    display: flex;
    align-items: center;
    top: 10rem;
    left: 3rem;
}

nav div {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    /* filter: invert(1); */
    box-shadow: rgba(255, 255, 255, 0.3) 0px 12px 28px 0px,
        rgba(255, 255, 255, 0.2) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    background-color: rgba(72, 0, 0, 0.7);
}

nav div:nth-child(2) {
    width: 220px;
    height: 220px;
    margin-left: 5rem;
}

nav div:nth-child(2) a {
    font-size: 1.1rem;
}

nav div:nth-child(3) {
    width: 170px;
    height: 170px;
    margin-left: 5rem;
    font-size: 1rem;
}

nav div:nth-child(3) a {
    font-size: 0.8rem;
}

nav div:nth-child(3) a:hover {
    font-size: 0.9rem;
}

nav div button,
nav div a {
    padding: 5px;
    cursor: pointer;
    font-size: 1.2rem;
    background: none;
    border: none;
    color: #d8e0f9;
    font-family: inherit;
    transition: all 0.1s ease-in;
}

nav div button:hover,
nav div a:hover {
    font-size: 1.3rem;
}

nav a:hover,
nav div:hover {
    filter: sepia(20%);
}

.hamburger-react div div {
    height: 8px !important;
    width: 55px !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    margin: 0;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.styled-scrollbars {
    /* Foreground, Background */
    scrollbar-color: #999 #333;
}

.styled-scrollbars::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #999;
}
.styled-scrollbars::-webkit-scrollbar-track {
    /* Background */
    background: #333;
}

* {
    box-sizing: border-box;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
        width: auto;
        top: 110px;
    }

    nav div:nth-child(1) {
        width: 200px;
        height: 200px;
    }

    nav div:nth-child(1) button {
        font-size: 0.9rem !important;
    }

    nav div:nth-child(2) {
        width: 140px;
        height: 140px;
        margin-top: 1rem;
        font-size: 0.5rem !important;
    }

    nav div:nth-child(2) a {
        font-size: 0.8rem !important;
    }

    nav div:nth-child(3) {
        width: 120px;
        height: 120px;
        margin-top: 1rem;
    }

    nav div:nth-child(3) a {
        font-size: 0.6rem !important;
    }
}
