@font-face {
    font-family: "Space-Mono";
    src: url("../public/SpaceMono-Regular.ttf");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: "Space-Mono";
    src: url("../public/SpaceMono-Bold.ttf");
    font-style: bold;
    font-weight: 700;
}

@font-face {
    font-family: "Roboto";
    src: url("../public/Roboto/Roboto-Light.ttf");
    font-style: normal;
    font-weight: 300;
}

@font-face {
    font-family: "Roboto-Thin";
    src: url("../public/Roboto/Roboto-Thin.ttf");
    font-style: normal;
    font-weight: 100;
}

html,
body {
    padding: 0;
    margin: 0;
    background-color: black;
    background: linear-gradient(355deg, #1f1051, #000000);
    background-size: 200% 300%;

    -webkit-animation: gradientAnimation 1s ease infinite;
    -moz-animation: gradientAnimation 1s ease infinite;
    animation: gradientAnimation 1s ease infinite;
    scroll-behavior: smooth;
    font-family: "Space-Mono", -apple-system, BlinkMacSystemFont, Segoe UI,
        Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue,
        sans-serif;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a {
    color: inherit;
    text-decoration: none;
}

header {
    position: fixed;
    left: 0;
    gap: 1.5rem;
    align-items: center;
    z-index: 11;
    text-align: center;
    display: flex;
    padding: 1rem 2rem;
}

header a {
    margin: 0rem;
    font-size: 3rem;
    font-weight: bold;
}

nav {
    z-index: 5;
    position: fixed;
    width: fit-content;
    padding: 2rem;
    top: 50%;
    left: 2rem;
    transform: translateY(-50%);
    backdrop-filter: blur(5px);
    border-radius: 15px;
    box-shadow: rgba(255, 255, 255, 0.3) 0px 12px 28px 0px,
        rgba(255, 255, 255, 0.2) 0px 2px 4px 0px,
        rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

nav div {
    display: flex;
    justify-content: center;
    justify-content: start;
    color: #d8e0f9;
    flex-direction: column;
}

nav div button {
    font-family: inherit;
    font-size: 1rem;
}

/* nav div:nth-child(1) {
    margin: 1rem 0;
} */

nav div:nth-child(2) {
    margin: 2rem 0;
}

nav div:nth-child(3) {
    font-size: 0.6rem;
    justify-content: space-between;
}

nav div button,
nav div a {
    cursor: pointer;
    width: max-content;
    background: none;
    border: none;
    color: #d8e0f9;
    padding: 0;
    transition: all 0.1s ease-in;
}

nav a:hover,
nav button:hover {
    filter: sepia(20%);
}

.hamburger-react div div {
    height: 8px !important;
    width: 55px !important;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

h1 {
    margin: 0;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.styled-scrollbars {
    /* Foreground, Background */
    scrollbar-color: #999 #333;
}

.styled-scrollbars::-webkit-scrollbar-thumb {
    /* Foreground */
    background: #999;
}
.styled-scrollbars::-webkit-scrollbar-track {
    /* Background */
    background: #333;
}

* {
    box-sizing: border-box;
}

@-webkit-keyframes gradientAnimation {
    0% {
        background-position: 83% 0%;
    }
    50% {
        background-position: 18% 100%;
    }
    100% {
        background-position: 83% 0%;
    }
}
@-moz-keyframes gradientAnimation {
    0% {
        background-position: 83% 0%;
    }
    50% {
        background-position: 18% 100%;
    }
    100% {
        background-position: 83% 0%;
    }
}
@keyframes gradientAnimation {
    0% {
        background-position: 83% 0%;
    }
    50% {
        background-position: 18% 100%;
    }
    100% {
        background-position: 83% 0%;
    }
}
