.container {
    background-color: var(--project-bg-color);
    display: grid;
    grid-template-columns: 1.1fr 0.9fr;
    height: 100vh;
}

.container h1 {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem !important;
    padding-top: 7rem;
    padding-left: 2rem;
}

.main div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(72vh);
}

.main div p {
    margin: 0 !important;
}

.gallery {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    overflow-y: scroll;
}

.image {
    width: 100%;
    height: auto;
}

@media (max-width: 600px) {
    .main {
        padding: 0 1rem;
    }
    .container {
        padding: 8rem 0 1rem 0;
        height: auto;
        display: flex;
        flex-direction: column;
    }

    .container h1 {
        padding: 0;
    }
    .main div {
        padding: 0;
        height: auto;
    }

    .playerWrapper {
        height: 400px !important;
    }

    .gallery {
        overflow-y: auto;
    }

    .gallery img {
        padding: 1rem 0;
        height: 350px !important;
        object-fit: cover;
    }
}
