.container {
    background-color: var(--project-bg-color);
    min-height: 100vh;
    padding: 4rem 5rem;
}

.main div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main iframe {
    height: 650px !important;
}

@media (max-width: 600px) {
    .container {
        padding: 4rem 1.5rem;
    }
    .main div {
        display: block;
    }
    .main img {
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
    }

    .main figure {
        margin: 0 0 2.5rem 0;
    }

    .main iframe {
        height: 270px !important;
    }
}
